extends layout.pug 
block content

  h1 Título de la página
  h2 Subtítulo
  div 
    p Párrafo de texto

  div 
    p
      a(href="http://www.google.com", class="enlace") Google.com
    p
      a#enlaceGoogle.enlace(href="http://www.google.com") Google.com


  div 
    p=variable
    p El valor de la variable es #{variable}

  div 
    if available 
      p Está disponible 
    else
      p No está disponible


  div
    ul
      - for (let i = 0; i < animales.length; i++)
        li= animales[i] 
      
  div
    - animales = [];
    ul
      each animal in animales
        li Animal: #{animal}
      else 
        li No hay animales

  div 
    .row 
      .col-12.col-md-6 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .col-12.col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum